<div id="login-control">
	@using (Html.BeginForm("Login", "Account", FormMethod.Post))
	{
		<input type="text" id="username" name="username" />
        <input type="password" id="password" name="password" />
	}
</div>