body
{
    font-size: .8em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fefefe;
}

a{
    text-decoration: none;
    color: #232323;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:1.4em 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}

input {
    outline: none;
    padding: 5px;
    transition: all 0.25s ease-in-out;
}

input:focus{
    box-shadow: 0 0 5px rgba(50, 50, 255, 1);
}

.login-label 
{
    font-size: 1.4em;
    font-family: "Segoe UI";
    display: inline-block;
    width: 6em;
}

.button 
{
    background-color: #f0f0f0;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font: normal normal 400 14px/12px "Segoe UI";
    padding: 0.5em 1em 0.5em 1em;
    min-width: 4em;
    border: 0;
    z-index: 100;
    cursor: pointer;
    outline: #ffffff 3px;
}

.button:hover {
    background-color: lightgray;
}

.blue{}

.button.green {
    color: white;
    background-color: #1D943B;
}

.button.green a {
    color: white;
}

.button.green:hover {
    background-color: #0D872B;
}



/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for layout
--------------------------------------------------------*/
#container {
    margin: 20px;
}

#registration-fieldset {
    width: 360px;
}

#login-control {
    float: right; 
}

.login {
    width: 10em;
}

.login button {
    float: right;
}

.login-input {
    margin: 0 0 1em 0;
    width: 8.6em;
}

